@import url("./fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.top {
  min-height: 100vh;
  background-image: url(./../images/castelmezzano.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-container {
  padding-top: 51px;
  padding-bottom: 120px;
}

.top-header {
  margin-bottom: 196px;
}

.top-header-top {
  height: 42px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top-header-navigation {
  width: 343px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-header-logo {
  height: 40px;
  width: 205px;
  background-image: url(./../images/logo_vector.png);
  background-repeat: no-repeat;
}

.top-header-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.top-header-list {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.top-header-button {
  height: 30px;
  width: 30px;
  background-image: url("../images/Night.svg");
  background-size: cover;
  background-position: center;
}

.top-header-account {
  height: 40px;
  width: 40px;
  background-image: url("./../images/AccountCircle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.top-header-line {
  width: 50px;
  height: 4px;
  margin-left: 894px;
  background-color: #f5bd41;
}

.top-discover {
  width: 542px;
  height: 118px;
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}

.search {
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
}

.search-column {
  display: flex;
  flex-direction: column;
}

.search-label {
  padding: 0 0 24px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.search-field {
  height: 64px;
  padding-inline-start: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
  border: none;
}

.search-button {
  height: 64px;
  width: 192px;
  margin-top: 45px;
  border-radius: 8px;
  background-color: #3077c6;
  margin-top: 45 px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.city {
  width: 467px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.data {
  width: 259px;
  border: #f5bd41 solid 3px;
  border-radius: 8px;
}

.guests {
  margin-top: 45px;
  width: 314px;
}

.top-apps {
  width: 270px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.title {
  width: 306px;
  height: 167px;
  padding-top: 120px;
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.empty-box {
  width: 100px;
  height: 4px;
  margin: 0 auto 80px;
  background-color: #f5bd41;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-image {
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}

.icon-margin {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 122px;
}

.footer {
  background-color: #10367c;
}

.footer-block {
  padding: 120px 0;
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-column {
  width: fit-content;
}

.footer-headlines {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  line-height: 23px;
  padding-bottom: 24px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  line-height: 23px;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
}

.footer-column:last-child {
  padding-left: 60px;
  padding-right: 168px;
}

.footer-copyright {
  padding-left: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
